html,
body {
  width: 100%;
  height: 100%;
}

div.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.1);
}

.container {
  padding: 80px 0 0;
}

.container_chart > td {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container_chart .chart_table {
  margin: 20px auto 40px;
  width: 853px;
  text-align: center;
  border-collapse: collapse;
}

.container_chart .chart_table thead tr th {
  font-weight: normal;
  width: 50px;
}

.container_chart .chart_table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

.container_chart .chart_table tbody tr td {
  padding: 10px 0 10px;
}

.container_chart .chart_table tbody td img {
  width: 70px;
}
