header {
  width: 100%;
}
header nav {
  height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid #ececec;
}
header nav ul {
  padding: 0;
}

header nav ul.nav_left {
  float: left;
}
header nav ul.nav_right {
  float: right;
}
header nav ul li {
  display: inline;
  margin: 10px 10px 20px;
  list-style-type: none;
}

header nav ul li a {
  font-weight: bold;
  text-decoration: none;
}
