header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}
header nav ul {
  display: flex;
  padding: 0;
}

header nav ul.nav_left {
  float: left;
}
header nav ul.nav_right {
  float: right;
}
header nav ul li {
  display: inline;
  margin: 10px 10px 20px;
  list-style-type: none;
}

header nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: rosybrown;
}
